<div class="page-header">
    <h1>New bet</h1>
</div>

<% form_for(bet, {action: path_to.bets(), method: 'POST', id: "bet_form", class: 'form-horizontal'}, function (form) { %>

<%- errorMessagesFor(bet) %>
<div class="control-group">
   <%- form.label("owner", false, {class: "control-label"}) %>
   <div class="controls">
       <input name="Bet[owner]" id="Bet_owner" disabled="disabled"/>
   </div>
</div>
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("description") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("blue", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("blue") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("red", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("red") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("stream", false, {class: "control-label"}) %>
   <div class="controls">
       <span><img src="/images/ustream.png" style="height:60px" /></span>
       <span><img src="/images/justin.png" style="height:60px" /></span>
       <input name="Bet[stream]" id="Bet_stream" style="display:none;"/>
   </div>
</div>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create bet', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.bets(), {class: 'btn'}) %>
    </div>
<% });%>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="stream_modal_label"></h3>
  </div>
  <div class="modal-body">
    <p id="hint"></p>
    <input id="stream"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="modal-confirm" class="btn btn-primary">Save changes</button>
  </div>
</div>



<script type="javascript/text">
    function embedUstream(){
        $("#stream_modal_label").text("embedded Ustream to broacast!");
        $(".modal-body #stream").text("Just input your Ustream id bellow and you friends could see what you bet on.");
        $('#myModal').modal({
            keyboard: false
        });
        $("#modal-confirm").click(function(){
            $("Bet_stream").val($("stream").val());
        });
    }


    function embedJustin(){
        $("#stream_modal_label").text("embedded justin to broacast!");
        $(".modal-body #stream").text("Just input your Ustream id bellow and you friends could see what you bet on.");
        $('#myModal').modal({
            keyboard: false
        });
        $("#modal-confirm").click(function(){
            $("Bet_stream").val($("stream").val());
        });
    }


</script>
