<div class="page-header">
    <h1>Details of bet</h1>
</div>

<div id="bet" class="bet">
    <div id="bet-header">
        <table class="table table-bordered">
            <tbody>
                <tr style="text-align:center">
                    <th id="blue" style="width:400px; background: blue; color: white; text-align:center;"><%= bet.blue %></th>
                    <th id="vs" style="width:160px;text-align:center;">vs</th>
                    <th id="red" style="width:400px; background: red; color: white; text-align:center;"><%= bet.red %></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="bet-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th id="blue_gambler" style="width:240px; background: blue; color: white;"></th>
                    <th id="" style="width:480px;">
                        <div id="chat_room" style="height:240px;"></div>
                        <input id="speach" style="width:400px;" />
                        <input type="button" id="speach_send" class="btn" value="send" style="width:60px;"/>
                    </th>
                    <th id="red_gambler" style="width:240px; background: red; color: white;"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<table class="table table-bordered">
    <tbody>
        <tr><th>title</th><td><%= bet.title %></td></tr>
        <tr><th>description</th><td><%= bet.description %></td></tr>
        <tr><th>blue</th><td><%= bet.blue %></td></tr>
        <tr><th>red</th><td><%= bet.red %></td></tr>
        <tr><th>stream</th><td><%= bet.stream %></td></tr>
        <tr><th>status</th><td><%= bet.status %></td></tr>
        <tr><th>red_gambler</th><td><%= bet.red_gambler %></td></tr>
        <tr><th>red_stake</th><td><%= bet.red_stake %></td></tr>
        <tr><th>blue_gambler</th><td><%= bet.blue_gambler %></td></tr>
        <tr><th>blue_stake</th><td><%= bet.blue_stake %></td></tr>
        <tr><th>owner</th><td><%= bet.owner %></td></tr>
        <tr><th>follower</th><td><%= bet.follower %></td></tr>    
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_bet(bet), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.bet(bet), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.bets()) %>
</div>

<script src="/javascripts/socket.io.js"></script>
<script>
var socket = io.connect('http://140.116.250.14:8080');

// on connection to server, ask for user's name with an anonymous callback
socket.on('connect', function(){
    // call the server-side function 'adduser' and send one parameter (value of prompt)
        <% var flash = request.flash('name').pop(); if (flash) { %>
            socket.emit('adduser', "<%- flash %>");
        <% } %>
    });

// listener, whenever the server emits 'updatechat', this updates the chat body
socket.on('updatechat', function (username, data) {
    $('#chat_room').append('<b>'+username + ':</b> ' + data + '<br>');
    });

// listener, whenever the server emits 'updaterooms', this updates the room the client is in
socket.on('updaterooms', function(rooms, current_room) {
    $('#rooms').empty();
    $.each(rooms, function(key, value) {
      if(value == current_room){
      $('#rooms').append('<div>' + value + '</div>');
      }
      else {
      $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
      }
      });
    });

function switchRoom(room){
  socket.emit('switchRoom', room);
}

// on load of page
$(function(){
    // when the client clicks SEND
    $('#speach_send').click( function() {
      var message = $('#speach').val();
      $('#speach').val('');
      // tell server to execute 'sendchat' and send along one parameter
      socket.emit('sendchat', message);
      });

    // when the client hits ENTER on their keyboard
    $('#speach').keypress(function(e) {
      if(e.which == 13) {
      $(this).blur();
      $('#speach_send').focus().click();
      }
      });
    });

</script>
