<div class="page-header">
    <h1><%= bet.owner %>'s bet</h1>
</div>
<div align="center">
<iframe width="960" height="480" src="http://www.ustream.tv/embed/<%= bet.stream %>?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>

<div id="bet" class="bet">
    <div id="bet-header">
        <table class="">
            <tbody>
                <tr style="text-align:center; background:transparent;">
                    <th id="blue" style="width:210px; background: #06C; color: white; text-align:center;"><h2>Yes</h2></th>
                    <th id="vs" style="width:540px;text-align:center;background:grey"> <%= bet.title %> </th>
                    <th id="red" style="width:210px; background: #C03; color: white; text-align:center;"> <h2>No</h2> </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="bet-body">
        <table class="">
            <tbody>
                <tr>
                    <th id="blue_gambler" style="width:231px; color: white;"></th>
                    <th id="" style="width:480px;">
                        <div style="overflow:hidden;width:472px; height:240px;position:relative; background:white; opacity:0.6;  ">
                            <div id="chat_room" align="left" style="position:absolute;bottom:0px;"></div>
                        </div>
                        <div id="input_section" style="height:45px">
                            <input id="speach" style="width:400px;" />
                            <input type="button" id="speach_send" class="btn" value="send" style="width:60px;height:100%;"/>
                        </div>
                    </th>
                    <th id="red_gambler" style="width:231px; color: white;"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_bet(bet), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.bet(bet), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.bets()) %>
</div>
</div>
<script src="/javascripts/socket.io.js"></script>
<script>
var socket = io.connect('http://140.116.250.14:8080');

// on connection to server, ask for user's name with an anonymous callback
socket.on('connect', function(){
    // call the server-side function 'adduser' and send one parameter (value of prompt)
    <% var flash = request.flash('name').pop(); if (flash) { %>
        socket.emit('adduser', "<%- flash %>");
    <% } %>
    assignChannel();
});

// listener, whenever the server emits 'updatechat', this updates the chat body
socket.on('updatechat', function (username, data) {
    $('#chat_room').append('<b>'+username + ':</b> ' + data + '<br>');
});

function assignChannel(){
    var path = window.location.pathname;
    var path = path.split('/');
    var channel = path[path.length-1];
    alert(channel);
    socket.emit('assign_channel', channel);
}

// on load of page
$(function(){
    // when the client clicks SEND
    $('#speach_send').click( function() {
      var message = $('#speach').val();
      $('#speach').val('');
      // tell server to execute 'sendchat' and send along one parameter
      socket.emit('sendchat', message);
      });

    // when the client hits ENTER on their keyboard
    $('#speach').keypress(function(e) {
      if(e.which == 13) {
      $(this).focus();
      $('#speach_send').click();
      }
      });
    });

</script>
