<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("point", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("point") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("assets", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("assets") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("history", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("history") %>
   </div>
</div>
