<div class="page-header">
    <h1>Details of user</h1>
</div>


<table class="table table-bordered">
    <tbody>
        <tr><th>name</th><td><%= user.name %></td></tr>
        <tr><th>email</th><td><%= user.email %></td></tr>
        <tr><th>point</th><td><%= user.point %></td></tr>
        <tr><th>assets</th><td><%= user.assets %></td></tr>
        <tr><th>history</th><td><%= user.history %></td></tr>    
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_user(user), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.user(user), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.users()) %>
</div>