<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive') %>
        <%- javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application') %>
        <%- csrf_meta_tag() %>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">IbetU</a>
                    <form class="navbar-search pull-left">
                        <input type="text" class="search-query" placeholder="Search">
                    </form><div id="login" style="float:right">L</div>
                    <span id="fb-login" class="fb-login-button" data-show-faces="false" data-width="160" data-max-rows="1" scope="email, publish_stream" style="float:right; margin:10px 0px;"></span>
                </div>
            </div>
        </div>
    
        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
            
            <%- body %>
            
            <hr />
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div>
        <script type="text/javascript" src="/javascripts/fb.js"></script>
    </body>
</html>
